<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Version" value="-v,--v,/v,--version"/>
    <add key="Size" value="-s,--s,/s,--size"/>
    <add key="InvalidFileMsg" value="Invalid Arguments"/>
    <add key="FileVersionMsg" value="File Version   {0}"/>
    <add key="FileSizeMsg" value="File Size   {0}"/>   
    <add key="AlertMsgHdr1" value="Invalid Inputs."/>
    <add key="AlertErrMsg" value="Exeption Occured {0}"/>
    <add key="AlertExitMsg" value="Press any key to exit"/>
  </appSettings>
</configuration>